<section>
  <div class="page-header">
    <h1>{{vm.job._id ? 'Edit Job' : 'New Job'}}</h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <form name="vm.form.jobForm" class="form-horizontal" ng-submit="vm.save(vm.form.jobForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="company">Company</label>
          <input name="company" type="text" ng-model="vm.job.company" id="title" class="form-control" placeholder="Company" required>
          <div ng-messages="vm.form.jobForm.company.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.job.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.jobForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Job title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="contact_email">Contact Email</label>
          <input name="contact_email" type="text" ng-model="vm.job.contact_email" id="contact_email" class="form-control" placeholder="Email" required>
          <div ng-messages="vm.form.jobForm.contact_email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Contact email is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" data-ng-model="vm.job.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="requirements">Requirements</label>
          <!-- <input name="title" type="text" ng-model="vm.job.requirements" id="requirements" class="form-control" placeholder="Requirements"> -->
          <textarea name="requirements" data-ng-model="vm.job.requirements" id="requirements" class="form-control" cols="30" rows="10" placeholder="Requirements"></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="salary">Salary (USD)</label>
          <input name="salary" type="number" ng-model="vm.job.salary" id="salary" class="form-control" placeholder="Salary" min="0" step="1000">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.job._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
