<section>
  <div class="page-header">
    <h1 ng-bind="vm.job.title"></h1>
    <p>Company: <span ng-bind="vm.job.company"></span></p>
    <p>Contact Email: <span ng-bind="vm.job.contact_email"></span></p>
    <p>Salary: <span ng-bind="vm.job.salary | currency : '$' : 0 "></span></p>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.job.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.job.user" ng-bind="vm.job.user.displayName"></span>
      <span ng-if="!vm.job.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.job.content"></p>
</section>
